<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<listener>
 			<listener-class>com.weather.ContextListener </listener-class>
 		</listener>
 <servlet>
		<servlet-name>ContextListener</servlet-name>
		<servlet-class>com.weather.ContextListener</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>ContextListener</servlet-name>
		<url-pattern>/weather</url-pattern>
	</servlet-mapping>
	<filter>
 <filter-name>Set Character Encoding</filter-name>
 <filter-class>com.weather.SetEncodingFilter</filter-class>
 <init-param>
 <param-name>encoding</param-name>
 <param-value>UTF-8</param-value>
 </init-param>
 </filter>
 <filter-mapping>
 <filter-name>Set Character Encoding</filter-name>
 <url-pattern>/*</url-pattern>
 </filter-mapping>
</web-app>